/*
Colors:
  #53ba1d - Forkfull green
  #50310D - brown
  #0081af - blue
  #F6F7EB - off white
  #E5B25D - yellow
*/

* {
  box-sizing: border-box;
}

:root {
  --green: #53ba1d;
  --brown: #50310D;
  --blue: #0081af;
  --white: #F6F7EB;
  --yellow: #E5B25D;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--brown);
}

h1 {
  display: inline-block;
  color: var(--blue);
  opacity: 1;
  font-family: 'Playfair Display', serif;
  font-size: 3.125rem;
  font-weight: 900;
  text-shadow: 0 0.0625rem 0 black;
  text-align: center;
  margin-top: 2.3125rem;
  margin-bottom: 0.5rem;
  z-index: 3;
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  text-align: center;
  font-size: 30px;
  color: var(--white);
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
  font-weight: 700;
  margin: 0.625rem;
  z-index: 3;
}
@media all and (max-width: 400px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  text-align: center;
  font-weight: 700;
  z-index: 3;
  font-size: 1.5rem;
}
@media all and (max-width: 400px) {
  h3 {
    font-size: 1.125rem;
  }
}

h4 {
  color: var(--blue);
  text-align: center;
  font-size: 1.625rem;
  font-weight: bold;
  text-shadow: 0 0.0625rem 0 black;
  opacity: 1;
  z-index: 3;
  margin-bottom: 1.5625rem;
}

a {
  color: var(--yellow);
  text-decoration: none;
  transition-duration: 0.3s;
  text-align: right;
}

a:hover a:focus {
  text-decoration: underline;
  color: var(--white);

}

.dropdown {
  display: none;
}
@media all and (max-width: 500px) {

  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  main {
    margin-top: 95px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    height: 35.008px;
    margin-top: 10px;
    margin-right: 8px;
    border: none;
  }
  .main-navigation {
    display: none;
  }

  .dropbtn {
    height: 36px;
    margin-top: 0.5rem;
    margin-right: -105px;
    border: none;
    border-radius: 4px;
    object-fit: cover;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: -72px;
    border-radius: 0.188rem;
    background-color: var(--white);
    min-width: 6.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: var(--brown);
    padding: 0.625rem 0.875rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    color: var(--green);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    opacity: 0.5;
  }
}

.background {
  background: url(../img/bark.jpg) rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
  width: 100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

.title {
  display: inline;
  text-align: center;
  justify-content: center;
  text-shadow: 0.0625rem 0.125rem var(--white);
  border-radius: 0.9375rem;
}

span {
  font-size: 1.125rem;
  color: var(--green);
  font-weight: normal;
  text-shadow: 0.0625rem 0.0625rem 0 black;
}
@media all and (max-width: 400px) {
  span {
    font-size: 0.875rem;
  }
}

.section-header__item {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: var(--yellow);
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto;
}

@media all and (max-width: 500px) {
  .section-header__item {
    display: none;
  }

}

.main-navigation__item {
  display: flex;
  flex-direction: row;
  bottom: 0;
  flex: 0 1 12.5rem;
  margin: 0 0.625rem;
}

.navigation-list a {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
}

.navigation-list {
  list-style-type: none;
  text-align: center;
  margin-top: 1.875rem;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-around;
  display: flex;
}

.navigation-list li {
  display: inline-block;
}

/* .dropdown {
  display: none;
} */

.button {
  border: none;
  display: block;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  width: 18.75rem;
  margin: 3.125rem auto;
  padding: 0.625rem;
  border-radius: 0.1875rem;
  box-shadow: 0.5625rem 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.75);
  transition: 0.9s ease;
}

@media all and (max-width: 400px) {
  .button {
    width: 12.5rem;
    display: block;
    margin: 30px auto;
    padding: 0;
    text-align: center;
  
  }
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.9;
}

.home_body,
.recipes_body,
.get-to-know_body,
.get-in-touch_body {
  position: relative;
  display: inline-block;
  background: rgba(246, 247, 235, 0.6);
  border-radius: 0.1875rem;
  -webkit-box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.75);
  box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.75);
  z-index: 0;
  justify-content: center;
  margin: 5em auto;
  max-width: 56.25rem;
  padding: 2.5rem;
  z-index: 0;
}

@media all and (max-width: 400px) {
  .home_body,
  .recipes_body,
  .get-to-know_body,
  .get-in-touch_body {
    width: 90%;
    margin: 1rem auto;
  }
}

.section {
  text-align: center;
}

.container {
  width: 90%;
  cursor: pointer;
}

@media all and (max-width: 750px) {
  .home {
    margin-top: 3em;
  }
}

p {
  display: block;
  line-height: 2;
  margin: 2.5rem 1.25rem;
  font-size: 1.125rem;
  z-index: 3;
  text-align: left;
}
@media all and (max-width: 400px) {
  p {
    font-size: 1rem;
  }
}

.plant_img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 0.1875rem;
}


.plant_grid p {
  color: var(--blue);
}

.plant_grid_item:hover {
  box-shadow: none;
  opacity: 0.8;
}

@supports (display: grid) {
  .plant_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.9375rem;
    margin: 5em auto;
    max-width: 1000px;
  }

  .picture_grid {
    display: grid;
    grid-gap: 0.9375rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 1.875rem auto;
    max-width: 850px;
    width: 70%
  }
@media all and (max-width: 500px) {
  .plant_grid {
    grid-template-columns: 1fr 1fr;
  }
}

.item-a {
  grid-area: a;
  object-fit: fill;
}

.item-c {
  grid-area: c;
  object-fit: fill;
}

.item-e {
  grid-area: e;
  object-fit: fill;
}
.item-f {
  grid-area: f;
  object-fit: fill;
}
}

.picture_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.1875rem;
}

.item-e {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-a {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

.item-c {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  
}

.item-f {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
  
  @media all and (max-width: 500px) {
    .picture_grid {
      grid-template-columns: 1fr 1fr;
    }
    .item-a {
      display: none;
    }
    .item-f {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .item-c {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    .item-e {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }

  .plant_grid_item {
    display: inline;
    background-color: var(--white);
    opacity: 0.8;
    min-height: auto;
    padding: 0.3125rem;
    text-align: center;
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.55);
    box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.55);
  }
  @media all and (max-width: 500px) {
    .plant_grid_item {
      width: 74vw;
      margin: 0 auto;
    }
  }

  .recipes_grid_item {
    background-color: var(--white);
    opacity: 0.8;
    min-height: auto;
    padding: 0.125rem;
    text-align: center;
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.55);
    box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.55);
  }

  .picture_grid_item {
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.55);
    box-shadow: 0.5625rem 0.375rem 0.625rem 0rem rgba(0,0,0,0.55);
  }

#home-id {
  padding-top: 0;
}

@media all and (max-width: 750px) {
  .plant_grid,
  .recipes_grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5625rem;
    margin: 0.625rem 1.875rem;
  }
}

@media all and (max-width: 500px) {
  .plant_grid,
  .recipes_grid {
    grid-template-columns: 1fr;
  }
}

.header-img {
  border-bottom: 4px solid var(--green);
  height: 6.5625rem;
  z-index: 101;
  filter: grayscale(20%);
}
#home-id {
  top: 0;
}
.page-header {
    max-width: 1300px;
    list-style-type: none;
    text-decoration: none;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    height: 8.125rem;
    border-bottom: 0.25rem solid var(--green);
    Background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6));
    background-color: rgba(0, 0, 0, 0.4);
  }
@media all and (max-width: 500px) {
  .page-header {
    height: 5.125rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 4%;
  margin-top: 1.25rem;
}
@media all and (max-width: 500px) {
  .logo {
    width: 1.875rem;
    height: 1.875rem;
    margin-top: 0.625rem;
  }
}

.home-header h2 {
  top: 0;
}
.home-header {
  background:
  linear-gradient(
    to bottom, rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.5) 100%),
    linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)),
    url(..//img/food.jpg);
  background-blend-mode: overlay;
  /* opacity: 0.8; */
  background-size: 100% 46.875rem;
  background-repeat: no-repeat;
  max-width: 81.25rem;
  margin: 3.75rem auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
}

@media all and (max-width: 500px) {
  .home-header {
    position: relative;
    z-index: 1;
    height: 75px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1200px) {
  .home-header {
    height: 130px;
  }
  .section-header__item,
  .navigation-list {
    margin: 6px auto;
    font-size: 1.65rem;
  }
}

.food-grow_header {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)),
      url(..//img/orange-grove.jpg);
  background-blend-mode: overlay;
  background-size: 100% 46.875rem;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 3.75rem auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-shadow: 2px 2px 4px #000;
}
@media all and (max-width: 500px) {
  .food-grow_header {
    position: relative;
    z-index: 1;
    height: 75px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1200px) {
  .food-grow_header {
    height: 130px;
  }
}

.recipes_header {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
      ),
      url(..//img/carrots.jpg);
  background-size: 100% 46.875rem;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 3.75rem auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
}

@media all and (max-width: 500px) {
  .recipes_header {
    position: relative;
    z-index: 1;
    height: 75px;
    margin: 0 auto;
  }

  .container {
    width: 100%;
  }
}
@media all and (min-width: 1200px) {
  .recipes_header {
    height: 130px;
  }
}

.recipes_img {
  border-radius: 0.1875rem;
  height: auto;
  text-align: center;
  width: 31.25rem;
  max-height: 12.5rem;
  margin: 2.5rem auto;
}

@media all and (max-width: 400px) {
  .recipes_img {
    width: 100%;
    max-height: 150px;
  }
}

.recipes-title {
  color: var(--green);
  text-shadow: 0 1px 0 black;
}

.know_img {
  border-radius: 0.1875rem;
  height: auto;
  max-height: 300px;
  opacity: 1;
  padding: 1.25rem;
}
@media all and (max-width: 750px) {
  .know_img {
    max-height: 15.625rem;
  }
}
@media all and (max-width: 500px) {
  .know_img {
    max-height: 9.375rem;
  }
}

#group {
  justify-content: flex-end;
}
#group2 {
  float: left;
}
#picnic {
  float: right;
}

@media all and (max-width: 400px) {
  #group2,
  #picnic {
    width: 12.5rem;
    display: inline;
    float: none;
    margin: 0.125rem;
    padding: 0;
  }
}

.touch_img {
  float: right;
  margin: 0.9375rem;
  margin-left: 1.875rem;
  max-height: 240px;
  opacity: 0.9;
}

@media all and (max-width: 400px) {
  .touch_img {
    width: 200px;
    float: none;
    margin: 0.125rem;
    padding: 0;
  }
}

.form {
  display: none;
  justify-content: center;
}

#message {
  margin: 20px auto;
  padding: 10px;
}
#email {
  margin: 10px auto;
  
}

.visible {
  display: block;
}

.get-to-know_header {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url(..//img/picking.jpg);
  background-size: 100% 46.875rem;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 3.75rem auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
}

.get-in-touch_header {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    url(..//img/okra.jpg);
  background-size: 100% 46.875rem;
  /* how to make top fade in */
  box-shadow: inset 0.0625rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 3.75rem auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
}

@media all and (max-width: 500px) {
  .get-to-know_header,
  .get-in-touch_header {
    position: relative;
    z-index: 1;
    height: 75px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1200px) {
  .get-to-know_header,
  .get-in-touch_header {
    height: 130px;
  }
}

.margin {
  margin-bottom: 3.75rem;
  margin-top: 1.875rem;
}

.map {
  width: 25rem;
  height: 15.625rem;
  display: block;
  text-align: right;
  padding: 0.625rem;
}

@media all and (max-width: 400px) {
  .map {
    width: 12.5rem;
    height: auto;
    display: block;
    margin: 0.125rem;
    padding: 0;
  }
}

.social-media {
  height: 2.5rem;
  margin: 0.625rem auto;
}

.forkfull_info p,
.page-footer h3 {
  color: var(--white);
  text-shadow: 0 0.0625rem 0 black;
  display: inline;
  margin-top: 0.3125rem;
}

.find {
  margin-top: 0.625rem;
}

footer {
  clear: both;
  display: block;
  background: #3F2D1F;
  flex-direction: column;
  position: relative;
  height: 9.375rem;
  background-color: var(--brown);
  text-align: center;
  border-top: 0.25rem solid var(--green);
}
